[Unit]
Description=PiKVM - OTG network service
After=kvmd-otg.service
Wants=network-pre.target
After=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kvmd-otgnet start
ExecStop=/usr/local/bin/kvmd-otgnet stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
