[Unit]
Description=PiKVM - VNC to KVMD/Streamer proxy
After=kvmd.service

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=3

ExecStart=/usr/local/bin/kvmd-vnc --run
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
